<form onsubmit={{preventDefault (perform this._submit)}}>
  <div class="m-4">
    <label for="title" class="block text-grey-darker text-sm mb-2">
      Title
    </label>
    <input
      {{did-insert (action this.addRef) 'title'}}
      value={{@page.title}}
      oninput={{perform this._update}}
      id="title"
      placeholder="Untitled"
      class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline" />
  </div>
  <div class="m-4">
    <textarea
      {{did-insert (action this.addRef) 'body'}}
      value={{@page.body}}
      oninput={{perform this._update}}
      placeholder="Blah blee bloop"
      rows="10"
      class="w-full shadow-inner p-4 border"
    ></textarea>
  </div>
  <input
    type="submit"
    class="m-4 bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
  />
</form>
