<div class="flex justify-between p-4">
  <img src="/img/incoming.svg" class="h-16 w-16"> 
  <div class="flex-1 px-4">
    <button onclick={{perform this.promptAddIncoming}} class="w-8 h-8 mb-4 border rounded shadow active:shadow-inner active:bg-grey-lighter">+</button>
    <ul class="list-reset">
      {{#each model.incoming as |link|}}
        <li>{{link-to link.from.title 'page' link.from.id}}</li>
      {{/each}}
    </ul>
  </div>
  <div class="flex-1 px-4 text-right">
    <button onclick={{perform this.promptAddOutgoing}} class="w-8 h-8 mb-4 border rounded shadow active:shadow-inner active:bg-grey-lighter">+</button>
    <ul class="list-reset">
      {{#each model.outgoing as |link|}}
        <li>{{link-to link.to.title 'page' link.to.id}}</li>
      {{/each}}
    </ul>
  </div>
  <img src="/img/outgoing.svg" class="h-16 w-16"> 
</div>
<PageForm
  @page={{this.model}}
  @save={{perform this.save}}
  @update={{perform this.save}}
/>

{{#if showModal}}
  <Modal @close={{bind this.close}}>
    <Typeahead
      @choose={{action (mut this.modalChoice)}}
      @options={{this.modalOptions}}
      @path={{this.modalPath}}
      @placeholder={{this.modalLabel}}
    />
  </Modal>
{{/if}}

<PageHotkeys
  @addOut={{perform this.promptAddOutgoing}}
  @addIn={{perform this.promptAddIncoming}}
  @goOut={{perform this.promptGoTo}}
  @goIn={{perform this.promptGoFrom}}
/>
